In [1]:
import pandas as pd

In [2]:
equipos=pd.read_csv('equipo.csv')
partidos= pd.read_csv('partidos.csv')

In [3]:
equipos.head()

        Ajax       ajax.png Paises Bajos  14
0   Atalanta   atalanta.png       Italia   6
1   Atlético   atletico.png       España  11
2  Barcelona  barcelona.png       España  17
3     Bayern     bayern.png     Alemania  16
4    Benfica    benfica.png     Portugal  15

In [4]:
partidos.head()

   14/09/2021 16:45  29   2  33  34  33.1
0  14/09/2021 16:45  31  19  33  34    33
1  14/09/2021 16:45  25  24  33  34    33
2  14/09/2021 19:00  11   6  33  34    33
3  14/09/2021 19:00   4   5  33  34    33
4  14/09/2021 19:00  16  30  33  34    33

In [5]:
equipos.columns=['Equipo', 'Imagen', 'Pais', 'Indice']
equipos.head()

      Equipo         Imagen      Pais  Indice
0   Atalanta   atalanta.png    Italia       6
1   Atlético   atletico.png    España      11
2  Barcelona  barcelona.png    España      17
3     Bayern     bayern.png  Alemania      16
4    Benfica    benfica.png  Portugal      15

In [6]:
partidos.columns=['Fecha', 'Local', 'Visitante', 'Prob_local', 'Prob_empate', 'Prob_visitante']
partidos.head()

              Fecha  Local  Visitante  Prob_local  Prob_empate  Prob_visitante
0  14/09/2021 16:45     31         19          33           34              33
1  14/09/2021 16:45     25         24          33           34              33
2  14/09/2021 19:00     11          6          33           34              33
3  14/09/2021 19:00      4          5          33           34              33
4  14/09/2021 19:00     16         30          33           34              33

In [7]:
import findspark
findspark.init()

import pyspark

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [9]:
spark = SparkSession.builder.getOrCreate()

23/02/18 11:22:57 WARN Utils: Your hostname, MacBook-Air-de-Sara.local resolves to a loopback address: 127.0.0.1; using 192.168.1.130 instead (on interface en0)
23/02/18 11:22:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/sara/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/02/18 11:22:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/18 11:22:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [10]:
df1=spark.createDataFrame(equipos)
df2=spark.createDataFrame(partidos)

In [11]:
df1.show()

+--------------+------------------+----------+------+
|        Equipo|            Imagen|      Pais|Indice|
+--------------+------------------+----------+------+
|      Atalanta|      atalanta.png|    Italia|     6|
|      Atlético|      atletico.png|    España|    11|
|     Barcelona|     barcelona.png|    España|    17|
|        Bayern|        bayern.png|  Alemania|    16|
|       Benfica|       benfica.png|  Portugal|    15|
|      Besiktas|      besiktas.png|   Turquía|     2|
|       Chelsea|       chelsea.png|Inglaterra|     1|
|   Club Brugge|   club_brugge.png|   Bélgica|    26|
|      Dortmund|      dortmund.png|  Alemania|    27|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|    28|
|Internazionale|internazionale.png|    Italia|    29|
|      Juventus|      juventus.png|    Italia|     9|
|       Leipzig|       leipzig.png|  Alemania|     8|
|     Liverpool|     liverpool.png|Inglaterra|    24|
|          LOSC|          losc.png|   Francia|    23|
|         Malmö|         malmo.png|    Suecia|    22|
|     Man. City|      man_city.png|Inglaterra|    21|
|   Man. United|    man_united.png|Inglaterra|    20|
|         Milan|         milan.png|    Italia|    19|
|         Paris|         paris.png|   Francia|    14|
+--------------+------------------+----------+------+
only showing top 20 rows

In [12]:
df2.show()

+----------------+-----+---------+----------+-----------+--------------+
|           Fecha|Local|Visitante|Prob_local|Prob_empate|Prob_visitante|
+----------------+-----+---------+----------+-----------+--------------+
|14/09/2021 16:45|   31|       19|        33|         34|            33|
|14/09/2021 16:45|   25|       24|        33|         34|            33|
|14/09/2021 19:00|   11|        6|        33|         34|            33|
|14/09/2021 19:00|    4|        5|        33|         34|            33|
|14/09/2021 19:00|   16|       30|        33|         34|            33|
|14/09/2021 19:00|   17|       13|        33|         34|            33|
|14/09/2021 19:00|    8|       32|        33|         34|            33|
|15/09/2021 16:45|    7|       10|        33|         34|            33|
|15/09/2021 16:45|   27|       26|        33|         34|            33|
|15/09/2021 19:00|    9|       21|        33|         34|            33|
|15/09/2021 19:00|   18|       14|        33|         34|            33|
|15/09/2021 19:00|    3|       22|        33|         34|            33|
|15/09/2021 19:00|   15|       20|        33|         34|            33|
|15/09/2021 19:00|   28|        1|        33|         34|            33|
|15/09/2021 19:00|   12|       23|        33|         34|            33|
|28/09/2021 16:45|    1|        7|        33|         34|            33|
|28/09/2021 16:45|   26|       12|        33|         34|            33|
|28/09/2021 19:00|   21|       18|        33|         34|            33|
|28/09/2021 19:00|   14|        9|        33|         34|            33|
|28/09/2021 19:00|   22|       15|        33|         34|            33|
+----------------+-----+---------+----------+-----------+--------------+
only showing top 20 rows

Operaciones básicas en DataFrames

In [13]:
df1.count()

31

In [14]:
df2.count()

95

In [15]:
df1.columns

['Equipo', 'Imagen', 'Pais', 'Indice']

In [16]:
df2.columns

['Fecha', 'Local', 'Visitante', 'Prob_local', 'Prob_empate', 'Prob_visitante']

In [17]:
df1.dtypes

[('Equipo', 'string'),
 ('Imagen', 'string'),
 ('Pais', 'string'),
 ('Indice', 'bigint')]

In [18]:
df2.dtypes

[('Fecha', 'string'),
 ('Local', 'bigint'),
 ('Visitante', 'bigint'),
 ('Prob_local', 'bigint'),
 ('Prob_empate', 'bigint'),
 ('Prob_visitante', 'bigint')]

In [19]:
df1.schema

StructType(List(StructField(Equipo,StringType,true),StructField(Imagen,StringType,true),StructField(Pais,StringType,true),StructField(Indice,LongType,true)))

In [20]:
df2.schema

StructType(List(StructField(Fecha,StringType,true),StructField(Local,LongType,true),StructField(Visitante,LongType,true),StructField(Prob_local,LongType,true),StructField(Prob_empate,LongType,true),StructField(Prob_visitante,LongType,true)))

In [21]:
df1.printSchema()

root
 |-- Equipo: string (nullable = true)
 |-- Imagen: string (nullable = true)
 |-- Pais: string (nullable = true)
 |-- Indice: long (nullable = true)

In [22]:
df2.printSchema()

root
 |-- Fecha: string (nullable = true)
 |-- Local: long (nullable = true)
 |-- Visitante: long (nullable = true)
 |-- Prob_local: long (nullable = true)
 |-- Prob_empate: long (nullable = true)
 |-- Prob_visitante: long (nullable = true)

In [23]:
df1.select('Equipo', 'Pais').show()

+--------------+----------+
|        Equipo|      Pais|
+--------------+----------+
|      Atalanta|    Italia|
|      Atlético|    España|
|     Barcelona|    España|
|        Bayern|  Alemania|
|       Benfica|  Portugal|
|      Besiktas|   Turquía|
|       Chelsea|Inglaterra|
|   Club Brugge|   Bélgica|
|      Dortmund|  Alemania|
|   Dynamo Kyiv|   Ucrania|
|Internazionale|    Italia|
|      Juventus|    Italia|
|       Leipzig|  Alemania|
|     Liverpool|Inglaterra|
|          LOSC|   Francia|
|         Malmö|    Suecia|
|     Man. City|Inglaterra|
|   Man. United|Inglaterra|
|         Milan|    Italia|
|         Paris|   Francia|
+--------------+----------+
only showing top 20 rows

In [24]:
df2.select('Local', 'Visitante').show()

+-----+---------+
|Local|Visitante|
+-----+---------+
|   31|       19|
|   25|       24|
|   11|        6|
|    4|        5|
|   16|       30|
|   17|       13|
|    8|       32|
|    7|       10|
|   27|       26|
|    9|       21|
|   18|       14|
|    3|       22|
|   15|       20|
|   28|        1|
|   12|       23|
|    1|        7|
|   26|       12|
|   21|       18|
|   14|        9|
|   22|       15|
+-----+---------+
only showing top 20 rows

In [25]:
df1.filter(df1["Pais"] == 'Italia').show()

+--------------+------------------+------+------+
|        Equipo|            Imagen|  Pais|Indice|
+--------------+------------------+------+------+
|      Atalanta|      atalanta.png|Italia|     6|
|Internazionale|internazionale.png|Italia|    29|
|      Juventus|      juventus.png|Italia|     9|
|         Milan|         milan.png|Italia|    19|
+--------------+------------------+------+------+

In [26]:
df2.filter(df2["Local"] == 25).show()

+----------------+-----+---------+----------+-----------+--------------+
|           Fecha|Local|Visitante|Prob_local|Prob_empate|Prob_visitante|
+----------------+-----+---------+----------+-----------+--------------+
|14/09/2021 16:45|   25|       24|        33|         34|            33|
|02/11/2021 20:00|   25|       16|        33|         34|            33|
|23/11/2021 20:00|   25|       30|        33|         34|            33|
+----------------+-----+---------+----------+-----------+--------------+

In [27]:
df1.filter(col("Pais") == 'Italia').show()

+--------------+------------------+------+------+
|        Equipo|            Imagen|  Pais|Indice|
+--------------+------------------+------+------+
|      Atalanta|      atalanta.png|Italia|     6|
|Internazionale|internazionale.png|Italia|    29|
|      Juventus|      juventus.png|Italia|     9|
|         Milan|         milan.png|Italia|    19|
+--------------+------------------+------+------+

In [28]:
df2.filter(col("Local") == 25).show()

+----------------+-----+---------+----------+-----------+--------------+
|           Fecha|Local|Visitante|Prob_local|Prob_empate|Prob_visitante|
+----------------+-----+---------+----------+-----------+--------------+
|14/09/2021 16:45|   25|       24|        33|         34|            33|
|02/11/2021 20:00|   25|       16|        33|         34|            33|
|23/11/2021 20:00|   25|       30|        33|         34|            33|
+----------------+-----+---------+----------+-----------+--------------+

In [29]:
df1.sort("Indice").show(5)

+----------+--------------+----------+------+
|    Equipo|        Imagen|      Pais|Indice|
+----------+--------------+----------+------+
|   Chelsea|   chelsea.png|Inglaterra|     1|
|  Besiktas|  besiktas.png|   Turquía|     2|
| Wolfsburg| wolfsburg.png|  Alemania|     4|
|  Atalanta|  atalanta.png|    Italia|     6|
|Young Boys|young_boys.png|     Suiza|     7|
+----------+--------------+----------+------+
only showing top 5 rows

In [30]:
df2.sort("Local").show(5)

+----------------+-----+---------+----------+-----------+--------------+
|           Fecha|Local|Visitante|Prob_local|Prob_empate|Prob_visitante|
+----------------+-----+---------+----------+-----------+--------------+
|19/10/2021 19:00|    1|       10|        33|         34|            33|
|07/12/2021 20:00|    1|       28|        33|         34|            33|
|28/09/2021 16:45|    1|        7|        33|         34|            33|
|08/12/2021 20:00|    2|       29|        33|         34|            33|
|02/11/2021 20:00|    2|       19|        33|         34|            33|
+----------------+-----+---------+----------+-----------+--------------+
only showing top 5 rows

In [31]:
df2.sort("Visitante").show(5)

+----------------+-----+---------+----------+-----------+--------------+
|           Fecha|Local|Visitante|Prob_local|Prob_empate|Prob_visitante|
+----------------+-----+---------+----------+-----------+--------------+
|24/11/2021 17:45|    7|        1|        33|         34|            33|
|03/11/2021 20:00|   10|        1|        33|         34|            33|
|15/09/2021 19:00|   28|        1|        33|         34|            33|
|20/10/2021 19:00|   19|        2|        33|         34|            33|
|23/11/2021 20:00|   31|        2|        33|         34|            33|
+----------------+-----+---------+----------+-----------+--------------+
only showing top 5 rows

In [32]:
# Sort the data in descending order.
df1.sort(desc("Indice")).show(5)

+--------------+------------------+--------+------+
|        Equipo|            Imagen|    Pais|Indice|
+--------------+------------------+--------+------+
|    Villarreal|    villarreal.png|  España|    30|
|Internazionale|internazionale.png|  Italia|    29|
|   Dynamo Kyiv|   dynamo_kyiv.png| Ucrania|    28|
|      Dortmund|      dortmund.png|Alemania|    27|
|   Club Brugge|   club_brugge.png| Bélgica|    26|
+--------------+------------------+--------+------+
only showing top 5 rows

In [33]:
df2.sort(desc("Local")).show(5)

+----------------+-----+---------+----------+-----------+--------------+
|           Fecha|Local|Visitante|Prob_local|Prob_empate|Prob_visitante|
+----------------+-----+---------+----------+-----------+--------------+
|29/09/2021 16:45|   32|       17|        33|         34|            33|
|20/10/2021 19:00|   32|       13|        33|         34|            33|
|08/12/2021 17:45|   32|        8|        33|         34|            33|
|23/11/2021 20:00|   31|        2|        33|         34|            33|
|14/09/2021 16:45|   31|       19|        33|         34|            33|
+----------------+-----+---------+----------+-----------+--------------+
only showing top 5 rows

In [34]:
df2.sort(desc("Visitante")).show(5)

+----------------+-----+---------+----------+-----------+--------------+
|           Fecha|Local|Visitante|Prob_local|Prob_empate|Prob_visitante|
+----------------+-----+---------+----------+-----------+--------------+
|02/11/2021 20:00|   13|       32|        33|         34|            33|
|23/11/2021 20:00|   17|       32|        33|         34|            33|
|14/09/2021 19:00|    8|       32|        33|         34|            33|
|08/12/2021 20:00|   19|       31|        33|         34|            33|
|29/09/2021 16:45|    2|       31|        33|         34|            33|
+----------------+-----+---------+----------+-----------+--------------+
only showing top 5 rows

### Consultas SQL
* Ejecución de consultas tipo SQL.
* También podemos realizar análisis de datos escribiendo consultas similares a SQL. Para realizar consultas similares a SQL, necesitamos registrar el DataFrame como una Vista temporal.

In [35]:
# Register DataFrame as Temporary Table
df1.createOrReplaceTempView("temp_table1")

# Execute SQL-Like query.
spark.sql("select * from temp_table1 where Indice = 2").show()

+--------+------------+-------+------+
|  Equipo|      Imagen|   Pais|Indice|
+--------+------------+-------+------+
|Besiktas|besiktas.png|Turquía|     2|
+--------+------------+-------+------+

In [36]:
# Register DataFrame as Temporary Table
df2.createOrReplaceTempView("temp_table2")

# Execute SQL-Like query.
spark.sql("select * from temp_table2 where Local = 25").show()

+----------------+-----+---------+----------+-----------+--------------+
|           Fecha|Local|Visitante|Prob_local|Prob_empate|Prob_visitante|
+----------------+-----+---------+----------+-----------+--------------+
|14/09/2021 16:45|   25|       24|        33|         34|            33|
|02/11/2021 20:00|   25|       16|        33|         34|            33|
|23/11/2021 20:00|   25|       30|        33|         34|            33|
+----------------+-----+---------+----------+-----------+--------------+

In [37]:
spark.sql("select distinct Indice from temp_table1").show(10)

+------+
|Indice|
+------+
|     6|
|    17|
|    11|
|     2|
|    15|
|    16|
|    26|
|    29|
|     9|
|    27|
+------+
only showing top 10 rows

In [38]:
spark.sql("select distinct Local from temp_table2").show(10)

+-----+
|Local|
+-----+
|    7|
|   31|
|   25|
|    9|
|   27|
|   17|
|    8|
|   11|
|    4|
|   18|
+-----+
only showing top 10 rows

In [39]:
spark.sql("select * from temp_table1 where Indice <=16").show(10)

+--------+------------+----------+------+
|  Equipo|      Imagen|      Pais|Indice|
+--------+------------+----------+------+
|Atalanta|atalanta.png|    Italia|     6|
|Atlético|atletico.png|    España|    11|
|  Bayern|  bayern.png|  Alemania|    16|
| Benfica| benfica.png|  Portugal|    15|
|Besiktas|besiktas.png|   Turquía|     2|
| Chelsea| chelsea.png|Inglaterra|     1|
|Juventus|juventus.png|    Italia|     9|
| Leipzig| leipzig.png|  Alemania|     8|
|   Paris|   paris.png|   Francia|    14|
|   Porto|   porto.png|  Portugal|    13|
+--------+------------+----------+------+
only showing top 10 rows

In [40]:
spark.sql("select * from temp_table2 where Local <=16").show(10)

+----------------+-----+---------+----------+-----------+--------------+
|           Fecha|Local|Visitante|Prob_local|Prob_empate|Prob_visitante|
+----------------+-----+---------+----------+-----------+--------------+
|14/09/2021 19:00|   11|        6|        33|         34|            33|
|14/09/2021 19:00|    4|        5|        33|         34|            33|
|14/09/2021 19:00|   16|       30|        33|         34|            33|
|14/09/2021 19:00|    8|       32|        33|         34|            33|
|15/09/2021 16:45|    7|       10|        33|         34|            33|
|15/09/2021 19:00|    9|       21|        33|         34|            33|
|15/09/2021 19:00|    3|       22|        33|         34|            33|
|15/09/2021 19:00|   15|       20|        33|         34|            33|
|15/09/2021 19:00|   12|       23|        33|         34|            33|
|28/09/2021 16:45|    1|        7|        33|         34|            33|
+----------------+-----+---------+----------+-----------+--------------+
only showing top 10 rows

Si queremos consultar las bases de datos existentes

In [41]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/Users/sara/Desktop/SARA/UAX/3º%20CURSO/Segundo%20cuatrimestre/Inteligencia%20artificial/ApacheSpark/spark-warehouse')]

Guardamos DataFrame como tabla HIVE

In [43]:
# Save as HIVE tables.
df1.write.saveAsTable("hive_equiposdf", mode = "overwrite")
df2.write.saveAsTable("hive_partidosdf", mode = "overwrite")

23/02/18 11:24:23 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers
23/02/18 11:24:25 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

Podemos comprobar su estructura con SQL

In [44]:
spark.sql("describe table hive_equiposdf").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|  Equipo|   string|   null|
|  Imagen|   string|   null|
|    Pais|   string|   null|
|  Indice|   bigint|   null|
+--------+---------+-------+

In [45]:
spark.sql("describe table hive_partidosdf").show()

+--------------+---------+-------+
|      col_name|data_type|comment|
+--------------+---------+-------+
|         Fecha|   string|   null|
|         Local|   bigint|   null|
|     Visitante|   bigint|   null|
|    Prob_local|   bigint|   null|
|   Prob_empate|   bigint|   null|
|Prob_visitante|   bigint|   null|
+--------------+---------+-------+

Si queremos crear una tabla no gestionada, también conocida como tabla externa, necesitamos indicar la ruta de los datos en el momento de creación:

In [46]:
df2.write.option("path", " /tmp/datos/partidos").saveAsTable("partidosExterna")

23/02/18 11:24:32 WARN MemoryManager: Total allocation exceeds 95,00% (1.020.054.720 bytes) of heap memory
Scaling row group sizes to 95,00% for 8 writers

**CREAR UN DATAFRAME A PARTIR DE UN ARCHIVO CSV**

In [47]:
df1=spark.read.csv("file:/Users/sara/Desktop/SARA/UAX/3º CURSO/Segundo cuatrimestre/Inteligencia artificial/ApacheSpark/equipo.csv", sep="|", header=True, inferSchema=True)

In [48]:
df2=spark.read.csv("file:/Users/sara/Desktop/SARA/UAX/3º CURSO/Segundo cuatrimestre/Inteligencia artificial/ApacheSpark/partidos.csv", sep="|", header=True, inferSchema=True)

### FUNDAMENTOS DE APACHE SPARK: FUNCIONES AVANZADAS

In [58]:
from pyspark.sql.functions import broadcast
from pyspark.sql.types import *

In [76]:
df1=spark.createDataFrame(equipos)
df2=spark.createDataFrame(partidos)
# Create Temp Tables
df1.createOrReplaceTempView("equipdf")
df2.createOrReplaceTempView("partidf")

* Podemos establecer el tamaño de la tabla de transmisión para que diga 50 MB de la siguiente manera:

In [77]:
spark.conf.set("spark.sql.autoBroadcastJoinThreshold", 50 * 1024 * 1024)

* Podemos verificar el tamaño de la tabla de transmisión de la siguiente manera:

In [78]:
size = int(spark.conf.get("spark.sql.autoBroadcastJoinThreshold")) / (1024 * 1024)
print("Default size of broadcast table is {0} MB.".format(size))

Default size of broadcast table is 50.0 MB.

### Almacenamiento en caché
Podemos usar la función de caché / persistencia para mantener el marco de datos en la memoria. Puede mejorar significativamente el rendimiento de su aplicación Spark si almacenamos en caché los datos que necesitamos usar con mucha frecuencia en nuestra aplicación.

In [79]:
df1.cache()
df1.count()
print("Memory Used : {0}".format(df1.storageLevel.useMemory))
print("Disk Used : {0}".format(df1.storageLevel.useDisk))

Memory Used : True
Disk Used : True

In [80]:
df2.cache()
df2.count()
print("Memory Used : {0}".format(df2.storageLevel.useMemory))
print("Disk Used : {0}".format(df2.storageLevel.useDisk))

Memory Used : True
Disk Used : True

Cuando usamos la función de caché, usará el nivel de almacenamiento como Memory_Only hasta Spark 2.0.2. Desde Spark 2.1.x es Memory_and_DISK.

Sin embargo, si necesitamos especificar los distintos niveles de almacenamiento disponibles, podemos usar el método persist( ). Por ejemplo, si necesitamos mantener los datos solo en la memoria, podemos usar el siguiente fragmento.

In [81]:
from pyspark.storagelevel import StorageLevel

In [82]:
df2.persist(StorageLevel.MEMORY_ONLY)
df2.count()
print("Memory Used : {0}".format(df1.storageLevel.useMemory))
print("Disk Used : {0}".format(df1.storageLevel.useDisk))

Memory Used : True
Disk Used : True

23/02/18 11:40:36 WARN CacheManager: Asked to cache already cached data.

### No persistir
También es importante eliminar la memoria caché de los datos cuando ya no sean necesarios.

In [83]:
df1.unpersist()

DataFrame[Equipo: string, Imagen: string, Pais: string, Indice: bigint]

In [84]:
df2.unpersist()

DataFrame[Fecha: string, Local: bigint, Visitante: bigint, Prob_local: bigint, Prob_empate: bigint, Prob_visitante: bigint]

In [88]:
from pyspark.sql import SQLContext

sc=spark.sparkContext
sqlContext = SQLContext(sc)

/Users/sara/opt/anaconda3/lib/python3.9/site-packages/pyspark/sql/context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [89]:
sqlContext.clearCache()

**Expresiones SQL**

También podemos usar la expresión SQL para la manipulación de datos. Tenemos la función **expr** y también una variante de un método de selección como **selectExpr** para la evaluación de expresiones SQL.

In [94]:
from pyspark.sql.functions import expr

# Intentemos categorizar los Indices en Bajo, Medio y Alto según la categorización a continuación.

# <=10: indice_bajo
# 10 - 20: indice_medio
#>= 20: indice_alto

cond = """case when Indice <=10 then 'indice_bajo'
               else case when Indice <20 then 'indice_medio'
                    else case when Indice >=20 then 'indice_alto'
                         else 'invalid_indice'
                              end
                         end
                end as indice_level"""

newdf1 = df1.withColumn("indice_level", expr(cond))
newdf1.show()

+--------------+------------------+----------+------+------------+
|        Equipo|            Imagen|      Pais|Indice|indice_level|
+--------------+------------------+----------+------+------------+
|      Atalanta|      atalanta.png|    Italia|     6| indice_bajo|
|      Atlético|      atletico.png|    España|    11|indice_medio|
|     Barcelona|     barcelona.png|    España|    17|indice_medio|
|        Bayern|        bayern.png|  Alemania|    16|indice_medio|
|       Benfica|       benfica.png|  Portugal|    15|indice_medio|
|      Besiktas|      besiktas.png|   Turquía|     2| indice_bajo|
|       Chelsea|       chelsea.png|Inglaterra|     1| indice_bajo|
|   Club Brugge|   club_brugge.png|   Bélgica|    26| indice_alto|
|      Dortmund|      dortmund.png|  Alemania|    27| indice_alto|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|    28| indice_alto|
|Internazionale|internazionale.png|    Italia|    29| indice_alto|
|      Juventus|      juventus.png|    Italia|     9| indice_bajo|
|       Leipzig|       leipzig.png|  Alemania|     8| indice_bajo|
|     Liverpool|     liverpool.png|Inglaterra|    24| indice_alto|
|          LOSC|          losc.png|   Francia|    23| indice_alto|
|         Malmö|         malmo.png|    Suecia|    22| indice_alto|
|     Man. City|      man_city.png|Inglaterra|    21| indice_alto|
|   Man. United|    man_united.png|Inglaterra|    20| indice_alto|
|         Milan|         milan.png|    Italia|    19|indice_medio|
|         Paris|         paris.png|   Francia|    14|indice_medio|
+--------------+------------------+----------+------+------------+
only showing top 20 rows

### Usando la función selectExpr

In [95]:
newdf1= df1.selectExpr("*", cond)
newdf1.show()

+--------------+------------------+----------+------+------------+
|        Equipo|            Imagen|      Pais|Indice|indice_level|
+--------------+------------------+----------+------+------------+
|      Atalanta|      atalanta.png|    Italia|     6| indice_bajo|
|      Atlético|      atletico.png|    España|    11|indice_medio|
|     Barcelona|     barcelona.png|    España|    17|indice_medio|
|        Bayern|        bayern.png|  Alemania|    16|indice_medio|
|       Benfica|       benfica.png|  Portugal|    15|indice_medio|
|      Besiktas|      besiktas.png|   Turquía|     2| indice_bajo|
|       Chelsea|       chelsea.png|Inglaterra|     1| indice_bajo|
|   Club Brugge|   club_brugge.png|   Bélgica|    26| indice_alto|
|      Dortmund|      dortmund.png|  Alemania|    27| indice_alto|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|    28| indice_alto|
|Internazionale|internazionale.png|    Italia|    29| indice_alto|
|      Juventus|      juventus.png|    Italia|     9| indice_bajo|
|       Leipzig|       leipzig.png|  Alemania|     8| indice_bajo|
|     Liverpool|     liverpool.png|Inglaterra|    24| indice_alto|
|          LOSC|          losc.png|   Francia|    23| indice_alto|
|         Malmö|         malmo.png|    Suecia|    22| indice_alto|
|     Man. City|      man_city.png|Inglaterra|    21| indice_alto|
|   Man. United|    man_united.png|Inglaterra|    20| indice_alto|
|         Milan|         milan.png|    Italia|    19|indice_medio|
|         Paris|         paris.png|   Francia|    14|indice_medio|
+--------------+------------------+----------+------+------------+
only showing top 20 rows

### Funciones definidas por el usuario (UDF)
A menudo necesitamos escribir la función en función de nuestro requisito muy específico. Aquí podemos aprovechar las udfs. Podemos escribir nuestras propias funciones en un lenguaje como python y registrar la función como udf, luego podemos usar la función para operaciones de DataFrame.

In [96]:
def detIndice_Level(ind):
    level = None

    if(ind <= 10):
        level = 'indice_bajo'
    elif(ind <20):
        level = 'indice_medio'
    elif(ind >= 20):
        level = 'indice_alto'
    else:
        level = 'invalid_indice'
    return level

* Luego registre la función "detIndice_Level" como UDF.

In [97]:
ind_level = udf(detIndice_Level, StringType())

* Aplicar función para determinar el indice_level para un indice dado.

In [98]:
newdf1 = df1.withColumn("indice_level", ind_level("Indice"))
newdf1.show()

+--------------+------------------+----------+------+------------+
|        Equipo|            Imagen|      Pais|Indice|indice_level|
+--------------+------------------+----------+------+------------+
|      Atalanta|      atalanta.png|    Italia|     6| indice_bajo|
|      Atlético|      atletico.png|    España|    11|indice_medio|
|     Barcelona|     barcelona.png|    España|    17|indice_medio|
|        Bayern|        bayern.png|  Alemania|    16|indice_medio|
|       Benfica|       benfica.png|  Portugal|    15|indice_medio|
|      Besiktas|      besiktas.png|   Turquía|     2| indice_bajo|
|       Chelsea|       chelsea.png|Inglaterra|     1| indice_bajo|
|   Club Brugge|   club_brugge.png|   Bélgica|    26| indice_alto|
|      Dortmund|      dortmund.png|  Alemania|    27| indice_alto|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|    28| indice_alto|
|Internazionale|internazionale.png|    Italia|    29| indice_alto|
|      Juventus|      juventus.png|    Italia|     9| indice_bajo|
|       Leipzig|       leipzig.png|  Alemania|     8| indice_bajo|
|     Liverpool|     liverpool.png|Inglaterra|    24| indice_alto|
|          LOSC|          losc.png|   Francia|    23| indice_alto|
|         Malmö|         malmo.png|    Suecia|    22| indice_alto|
|     Man. City|      man_city.png|Inglaterra|    21| indice_alto|
|   Man. United|    man_united.png|Inglaterra|    20| indice_alto|
|         Milan|         milan.png|    Italia|    19|indice_medio|
|         Paris|         paris.png|   Francia|    14|indice_medio|
+--------------+------------------+----------+------+------------+
only showing top 20 rows

### Trabajando con valores NULL

Los valores NULL siempre son difíciles de manejar independientemente del Framework o lenguaje que usemos. Aquí en Spark tenemos pocas funciones específicas para lidiar con valores NULL.

- **es nulo()**

Esta función nos ayudará a encontrar los valores nulos para cualquier columna dada. Por ejemplo si necesitamos encontrar las columnas donde las columnas id contienen los valores nulos.

In [99]:
newdf1 = df1.filter(df1["Pais"].isNull())
newdf1.show()

+------+------+----+------+
|Equipo|Imagen|Pais|Indice|
+------+------+----+------+
+------+------+----+------+

* **No es nulo()**

Esta función funciona de manera opuesta a la función isNull () y devolverá todos los valores no nulos para una función en particular.

In [100]:
newdf1 = df1.filter(df1["Pais"].isNotNull())
newdf1.show()

+--------------+------------------+----------+------+
|        Equipo|            Imagen|      Pais|Indice|
+--------------+------------------+----------+------+
|      Atalanta|      atalanta.png|    Italia|     6|
|      Atlético|      atletico.png|    España|    11|
|     Barcelona|     barcelona.png|    España|    17|
|        Bayern|        bayern.png|  Alemania|    16|
|       Benfica|       benfica.png|  Portugal|    15|
|      Besiktas|      besiktas.png|   Turquía|     2|
|       Chelsea|       chelsea.png|Inglaterra|     1|
|   Club Brugge|   club_brugge.png|   Bélgica|    26|
|      Dortmund|      dortmund.png|  Alemania|    27|
|   Dynamo Kyiv|   dynamo_kyiv.png|   Ucrania|    28|
|Internazionale|internazionale.png|    Italia|    29|
|      Juventus|      juventus.png|    Italia|     9|
|       Leipzig|       leipzig.png|  Alemania|     8|
|     Liverpool|     liverpool.png|Inglaterra|    24|
|          LOSC|          losc.png|   Francia|    23|
|         Malmö|         malmo.png|    Suecia|    22|
|     Man. City|      man_city.png|Inglaterra|    21|
|   Man. United|    man_united.png|Inglaterra|    20|
|         Milan|         milan.png|    Italia|    19|
|         Paris|         paris.png|   Francia|    14|
+--------------+------------------+----------+------+
only showing top 20 rows

No necesitamos reemplazar valores nulos ni eliminar las filas con valores nulos porque directamente no tenemos valores nulos

## Partitioning


El particionamiento es un aspecto muy importante para controlar el paralelismo de la aplicación Spark.

In [101]:
df1.rdd.getNumPartitions()

8

In [102]:
df2.rdd.getNumPartitions()

8

* Incrementar el número de particiones. Por ejemplo Aumentar las particiones a 10

In [103]:
newdf1 = df1.repartition(10)
newdf1.rdd.getNumPartitions()

10

In [104]:
newdf2 = df2.repartition(10)
newdf2.rdd.getNumPartitions()

10

**Nota: se trata de operaciones costosas, ya que requiere la mezcla de datos entre los trabajadores.**

* Disminuir el número de particiones. Por ejemplo disminuir las particiones a 4.

In [105]:
newdf1 = df1.coalesce(4)
newdf1.rdd.getNumPartitions()

4

* De forma predeterminada, el número de particiones para Spark SQL es 200.
* Pero también podemos establecer el número de particiones en el nivel de aplicación Spark. Por ejemplo establecido en 500

In [106]:
# Set number of partitions as Spark Application.
spark.conf.set("spark.sql.shuffle.partitions", "500")

# Check the number of patitions.
num_part = spark.conf.get("spark.sql.shuffle.partitions")
print("No of Partitions : {0}".format(num_part))

No of Partitions : 500

# Catálogo de APIs

Spark Catalog es una API orientada al usuario, a la que puede acceder mediante SparkSession.catalog.

* **listDatabases ()**

Devolverá todas las bases de datos junto con su ubicación en el sistema de archivos.

In [107]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/Users/sara/Desktop/SARA/UAX/3º%20CURSO/Segundo%20cuatrimestre/Inteligencia%20artificial/ApacheSpark/spark-warehouse')]

* **listTables ()**

Devolverá todas las tablas para una base de datos determinada junto con información como el tipo de tabla (externa / administrada) y si una tabla en particular es temporal o permanente.
Esto incluye todas las vistas temporales.

In [108]:
spark.catalog.listTables("default")

[Table(name='hive_equiposdf', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='hive_partidosdf', database='default', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='partidosexterna', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='equipdf', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='partidf', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='temp_table1', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='temp_table2', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

* **listColumns ()**

Devolverá todas las columnas de una tabla en particular en DataBase. Además, devolverá el tipo de datos, si la columna se usa en particiones o agrupaciones.

In [110]:
spark.catalog.listColumns("hive_equiposdf", "default")

[Column(name='Equipo', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='Imagen', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='Pais', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='Indice', description=None, dataType='bigint', nullable=True, isPartition=False, isBucket=False)]

* **listFunctions()**

Devolverá todas las funciones disponibles en Spark Session junto con la información si es temporal o no.

In [111]:
spark.catalog.listFunctions()

[Function(name='!', description=None, className='org.apache.spark.sql.catalyst.expressions.Not', isTemporary=True),
 Function(name='%', description=None, className='org.apache.spark.sql.catalyst.expressions.Remainder', isTemporary=True),
 Function(name='&', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseAnd', isTemporary=True),
 Function(name='*', description=None, className='org.apache.spark.sql.catalyst.expressions.Multiply', isTemporary=True),
 Function(name='+', description=None, className='org.apache.spark.sql.catalyst.expressions.Add', isTemporary=True),
 Function(name='-', description=None, className='org.apache.spark.sql.catalyst.expressions.Subtract', isTemporary=True),
 Function(name='/', description=None, className='org.apache.spark.sql.catalyst.expressions.Divide', isTemporary=True),
 Function(name='<', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThan', isTemporary=True),
 Function(name='<=', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThanOrEqual', isTemporary=True),
 Function(name='<=>', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualNullSafe', isTemporary=True),
 Function(name='=', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='==', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True),
 Function(name='>', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThan', isTemporary=True),
 Function(name='>=', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThanOrEqual', isTemporary=True),
 Function(name='^', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseXor', isTemporary=True),
 Function(name='abs', description=None, className='org.apache.spark.sql.catalyst.expressions.Abs', isTemporary=True),
 Function(name='acos', description=None, className='org.apache.spark.sql.catalyst.expressions.Acos', isTemporary=True),
 Function(name='acosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Acosh', isTemporary=True),
 Function(name='add_months', description=None, className='org.apache.spark.sql.catalyst.expressions.AddMonths', isTemporary=True),
 Function(name='aggregate', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayAggregate', isTemporary=True),
 Function(name='and', description=None, className='org.apache.spark.sql.catalyst.expressions.And', isTemporary=True),
 Function(name='any', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='approx_count_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.HyperLogLogPlusPlus', isTemporary=True),
 Function(name='approx_percentile', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.ApproximatePercentile', isTemporary=True),
 Function(name='array', description=None, className='org.apache.spark.sql.catalyst.expressions.CreateArray', isTemporary=True),
 Function(name='array_contains', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayContains', isTemporary=True),
 Function(name='array_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayDistinct', isTemporary=True),
 Function(name='array_except', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExcept', isTemporary=True),
 Function(name='array_intersect', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayIntersect', isTemporary=True),
 Function(name='array_join', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayJoin', isTemporary=True),
 Function(name='array_max', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMax', isTemporary=True),
 Function(name='array_min', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMin', isTemporary=True),
 Function(name='array_position', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayPosition', isTemporary=True),
 Function(name='array_remove', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRemove', isTemporary=True),
 Function(name='array_repeat', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRepeat', isTemporary=True),
 Function(name='array_sort', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraySort', isTemporary=True),
 Function(name='array_union', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayUnion', isTemporary=True),
 Function(name='arrays_overlap', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysOverlap', isTemporary=True),
 Function(name='arrays_zip', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysZip', isTemporary=True),
 Function(name='ascii', description=None, className='org.apache.spark.sql.catalyst.expressions.Ascii', isTemporary=True),
 Function(name='asin', description=None, className='org.apache.spark.sql.catalyst.expressions.Asin', isTemporary=True),
 Function(name='asinh', description=None, className='org.apache.spark.sql.catalyst.expressions.Asinh', isTemporary=True),
 Function(name='assert_true', description=None, className='org.apache.spark.sql.catalyst.expressions.AssertTrue', isTemporary=True),
 Function(name='atan', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan', isTemporary=True),
 Function(name='atan2', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan2', isTemporary=True),
 Function(name='atanh', description=None, className='org.apache.spark.sql.catalyst.expressions.Atanh', isTemporary=True),
 Function(name='avg', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Average', isTemporary=True),
 Function(name='base64', description=None, className='org.apache.spark.sql.catalyst.expressions.Base64', isTemporary=True),
 Function(name='bigint', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bin', description=None, className='org.apache.spark.sql.catalyst.expressions.Bin', isTemporary=True),
 Function(name='binary', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bit_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitAndAgg', isTemporary=True),
 Function(name='bit_count', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseCount', isTemporary=True),
 Function(name='bit_get', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True),
 Function(name='bit_length', description=None, className='org.apache.spark.sql.catalyst.expressions.BitLength', isTemporary=True),
 Function(name='bit_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitOrAgg', isTemporary=True),
 Function(name='bit_xor', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitXorAgg', isTemporary=True),
 Function(name='bool_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='bool_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True),
 Function(name='boolean', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='bround', description=None, className='org.apache.spark.sql.catalyst.expressions.BRound', isTemporary=True),
 Function(name='btrim', description=None, className='org.apache.spark.sql.catalyst.expressions.StringTrimBoth', isTemporary=True),
 Function(name='cardinality', description=None, className='org.apache.spark.sql.catalyst.expressions.Size', isTemporary=True),
 Function(name='cast', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='cbrt', description=None, className='org.apache.spark.sql.catalyst.expressions.Cbrt', isTemporary=True),
 Function(name='ceil', description=None, className='org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name='ceiling', description=None, className='org.apache.spark.sql.catalyst.expressions.Ceil', isTemporary=True),
 Function(name='char', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='char_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='character_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True),
 Function(name='chr', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True),
 Function(name='coalesce', description=None, className='org.apache.spark.sql.catalyst.expressions.Coalesce', isTemporary=True),
 Function(name='collect_list', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectList', isTemporary=True),
 Function(name='collect_set', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectSet', isTemporary=True),
 Function(name='concat', description=None, className='org.apache.spark.sql.catalyst.expressions.Concat', isTemporary=True),
 Function(name='concat_ws', description=None, className='org.apache.spark.sql.catalyst.expressions.ConcatWs', isTemporary=True),
 Function(name='conv', description=None, className='org.apache.spark.sql.catalyst.expressions.Conv', isTemporary=True),
 Function(name='corr', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Corr', isTemporary=True),
 Function(name='cos', description=None, className='org.apache.spark.sql.catalyst.expressions.Cos', isTemporary=True),
 Function(name='cosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Cosh', isTemporary=True),
 Function(name='cot', description=None, className='org.apache.spark.sql.catalyst.expressions.Cot', isTemporary=True),
 Function(name='count', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Count', isTemporary=True),
 Function(name='count_if', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountIf', isTemporary=True),
 Function(name='count_min_sketch', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountMinSketchAgg', isTemporary=True),
 Function(name='covar_pop', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovPopulation', isTemporary=True),
 Function(name='covar_samp', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovSample', isTemporary=True),
 Function(name='crc32', description=None, className='org.apache.spark.sql.catalyst.expressions.Crc32', isTemporary=True),
 Function(name='cume_dist', description=None, className='org.apache.spark.sql.catalyst.expressions.CumeDist', isTemporary=True),
 Function(name='current_catalog', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentCatalog', isTemporary=True),
 Function(name='current_database', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDatabase', isTemporary=True),
 Function(name='current_date', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDate', isTemporary=True),
 Function(name='current_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimestamp', isTemporary=True),
 Function(name='current_timezone', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimeZone', isTemporary=True),
 Function(name='current_user', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentUser', isTemporary=True),
 Function(name='date', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='date_add', description=None, className='org.apache.spark.sql.catalyst.expressions.DateAdd', isTemporary=True),
 Function(name='date_format', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFormatClass', isTemporary=True),
 Function(name='date_from_unix_date', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFromUnixDate', isTemporary=True),
 Function(name='date_part', description=None, className='org.apache.spark.sql.catalyst.expressions.DatePart', isTemporary=True),
 Function(name='date_sub', description=None, className='org.apache.spark.sql.catalyst.expressions.DateSub', isTemporary=True),
 Function(name='date_trunc', description=None, className='org.apache.spark.sql.catalyst.expressions.TruncTimestamp', isTemporary=True),
 Function(name='datediff', description=None, className='org.apache.spark.sql.catalyst.expressions.DateDiff', isTemporary=True),
 Function(name='day', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofmonth', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True),
 Function(name='dayofweek', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfWeek', isTemporary=True),
 Function(name='dayofyear', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfYear', isTemporary=True),
 Function(name='decimal', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='decode', description=None, className='org.apache.spark.sql.catalyst.expressions.Decode', isTemporary=True),
 Function(name='degrees', description=None, className='org.apache.spark.sql.catalyst.expressions.ToDegrees', isTemporary=True),
 Function(name='dense_rank', description=None, className='org.apache.spark.sql.catalyst.expressions.DenseRank', isTemporary=True),
 Function(name='div', description=None, className='org.apache.spark.sql.catalyst.expressions.IntegralDivide', isTemporary=True),
 Function(name='double', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='e', description=None, className='org.apache.spark.sql.catalyst.expressions.EulerNumber', isTemporary=True),
 Function(name='element_at', description=None, className='org.apache.spark.sql.catalyst.expressions.ElementAt', isTemporary=True),
 Function(name='elt', description=None, className='org.apache.spark.sql.catalyst.expressions.Elt', isTemporary=True),
 Function(name='encode', description=None, className='org.apache.spark.sql.catalyst.expressions.Encode', isTemporary=True),
 Function(name='every', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True),
 Function(name='exists', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExists', isTemporary=True),
 Function(name='exp', description=None, className='org.apache.spark.sql.catalyst.expressions.Exp', isTemporary=True),
 Function(name='explode', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='explode_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True),
 Function(name='expm1', description=None, className='org.apache.spark.sql.catalyst.expressions.Expm1', isTemporary=True),
 Function(name='extract', description=None, className='org.apache.spark.sql.catalyst.expressions.Extract', isTemporary=True),
 Function(name='factorial', description=None, className='org.apache.spark.sql.catalyst.expressions.Factorial', isTemporary=True),
 Function(name='filter', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayFilter', isTemporary=True),
 Function(name='find_in_set', description=None, className='org.apache.spark.sql.catalyst.expressions.FindInSet', isTemporary=True),
 Function(name='first', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='first_value', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True),
 Function(name='flatten', description=None, className='org.apache.spark.sql.catalyst.expressions.Flatten', isTemporary=True),
 Function(name='float', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True),
 Function(name='floor', description=None, className='org.apache.spark.sql.catalyst.expressions.Floor', isTemporary=True),
 Function(name='forall', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayForAll', isTemporary=True),
 Function(name='format_number', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatNumber', isTemporary=True),
 Function(name='format_string', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatString', isTemporary=True),
 Function(name='from_csv', description=None, className='org.apache.spark.sql.catalyst.expressions.CsvToStructs', isTemporary=True),
 Function(name='from_json', description=None, className='org.apache.spark.sql.catalyst.expressions.JsonToStructs', isTemporary=True),
 Function(name='from_unixtime', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUnixTime', isTemporary=True),
 Function(name='from_utc_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUTCTimestamp', isTemporary=True),
 Function(name='get_json_object', description=None, className='org.apache.spark.sql.catalyst.expressions.GetJsonObject', isTemporary=True),
 Function(name='getbit', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True),
 Function(name='greatest', description=None, className='org.apache.spark.sql.catalyst.expressions.Greatest', isTemporary=True),
 Function(name='grouping', description=None, className='org.apache.spark.sql.catalyst.expressions.Grouping', isTemporary=True),
 Function(name='grouping_id', description=None, className='org.apache.spark.sql.catalyst.expressions.GroupingID', isTemporary=True),
 Function(name='hash', description=None, className='org.apache.spark.sql.catalyst.expressions.Murmur3Hash', isTemporary=True),
 Function(name='hex', description=None, className='org.apache.spark.sql.catalyst.expressions.Hex', isTemporary=True),
 Function(name='hour', description=None, className='org.apache.spark.sql.catalyst.expressions.Hour', isTemporary=True),
 Function(name='hypot', description=None, className='org.apache.spark.sql.catalyst.expressions.Hypot', isTemporary=True),
 Function(name='if', description=None, className='org.apache.spark.sql.catalyst.expressions.If', isTemporary=True),
 Function(name='ifnull', description=None, className='org.apache.spark.sql.catalyst.expressions.IfNull', isTemporary=True),
 Function(name='in', description=None, className='org.apache.spark.sql.catalyst.expressions.In', isTemporary=True),
 Function(name='initcap', description=None, className='org.apache.spark.sql.catalyst.expressions.InitCap', isTemporary=True),
 Function(name='inline', description=None, className='org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name='inline_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Inline', isTemporary=True),
 Function(name='input_file_block_length', description=None, className='org.apache.spark.sql.catalyst.expressions.InputFileBlockLength', isTemporary=True),

* **currentDatabase ()**

Obtenemos la base de datos actual.

In [113]:
spark.catalog.currentDatabase()

'default'

* **setCurrentDatabase ()**

Establecer la base de datos actual

In [123]:
spark.catalog.setCurrentDatabase('default')

* **cacheTable ()**

almacenar en caché una tabla en particular.

In [125]:
spark.catalog.cacheTable("default.hive_equiposdf")
spark.catalog.cacheTable("default.hive_partidosdf")

23/02/18 12:14:30 WARN CacheManager: Asked to cache already cached data.

* **isCached()**

Compruebe si la tabla está almacenada en caché o no.

In [126]:
spark.catalog.isCached("default.hive_equiposdf")
spark.catalog.isCached("default.hive_partidosdf")

True

* **uncacheTable()**

Des-cachear de una tabla en particular.

In [128]:
spark.catalog.uncacheTable("default.hive_equiposdf")

In [129]:
# Verify uncached table. Now you will see that it will return "False" which means table is not cached.
spark.catalog.isCached("default.hive_equiposdf")

False

In [131]:
# Esta debería salir "True"
spark.catalog.isCached("default.hive_partidosdf")

True

* **clearCache()**

Des-cachear toda la tabla en la sesión de Spark.

In [132]:
spark.catalog.clearCache()